# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BilgeAdam2D.iml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\BilgeAdamRepository2D\BilgeAdam2D\.idea\.idea.BilgeAdam2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
